/* Reset params */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: PT Sans;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* =================================================== */
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

/* <GENERAL BLOCK>  */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.promo-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-top: 56px;
  width: 350px;
  height: 54px;
  background-color: #ba946f;
  text-align: center;
  padding-top: 15px;
}
.promo-button a {
  color: #ffffff;
}

/* ========== header ============= */
.header-container {
  position: relative;
  height: 100vh;
}
.header-container .header-contacts {
  margin: auto;
  max-width: 1280px;
  padding: 10px 0;
  font-size: 16px;
  line-height: 140%;
  color: #4e2f2d;
}
.header-container .header-contacts .header__container {
  display: ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.header-container .header-contacts .header__container .header-contacts-leftside {
  padding-left: 10px;
}
.header-container .header-contacts .header__container .header-contacts-rightside {
  padding-right: 10px;
}
.header-container .header-contacts .header__container a {
  padding-left: 48px;
  color: #000000;
}
.header-container .header-content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url("../img/header/01.png") no-repeat;
  background-size: cover;
}
.header-container .header-content {
  position: absolute;
  background: linear-gradient(90deg, #4e2f2d 0%, #4e2f2d 100%);
  top: 40px;
  bottom: 0;
  width: 100%;
  padding: 40px 0 0 0;
}
.header-container .header-content .header-top {
  position: relative;
  margin: auto;
  max-width: 1280px;
  z-index: 1;
}
.header-container .header-content .header-top .header__container {
  display: ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container .header-content .header-top .header__container img {
  padding-left: 10px;
}
.header-container .header-content .header-top .header__container .header__container-menu {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #f4e9db;
  line-height: 17px;
  padding-right: 10px;
}
.header-container .header-content .header-top .header__container .header__container-menu li {
  display: inline-block;
  padding-left: 48px;
}
.header-container .header-content .header-top .header__container .header__container-menu li:first-child {
  padding-left: 0;
}
.header-container .header-content .header-bottom {
  position: relative;
  margin: 0 auto;
  width: 1280px;
  top: 15%;
  left: 80px;
}
.header-container .header-content .header-bottom .header-content__promo {
  position: relative;
  width: 620px;
  color: #ffffff;
  z-index: 1;
}
.header-container .header-content .header-bottom .header-content__promo-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 67px;
}
.header-container .header-content .header-bottom .header-content__promo-subtitle {
  font-size: 16px;
  line-height: 22px;
  margin-top: 48px;
  padding-right: 30px;
}

/* ========== advantage =========== */
.advantage {
  margin-top: 80px;
}
.advantage p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ba946f;
}
.advantage h1 {
  margin-top: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #4e2f2d;
}
.advantage .advantage-container {
  margin-top: 48px;
  display: ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.advantage .advantage-container .advantage-container__item {
  position: relative;
  flex: 0 0 33.333%;
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #4e2f2d;
  padding-right: 10px;
}
.advantage .advantage-container .advantage-container__item img {
  position: absolute;
  background-color: #f4e9db;
  padding: 12px 12px;
}
.advantage .advantage-container .advantage-container__item span {
  display: inline-block;
  padding: 18px 0 0 85px;
}

/* ========== register =========== */
.register {
  background-color: #f4e9db;
  margin-top: 35px;
  padding-bottom: 120px;
}
.register .container {
  position: relative;
}
.register .container img {
  position: absolute;
  bottom: 11%;
  right: 0;
  top: 27%;
  left: 38%;
}

.register-form {
  padding-top: 120px;
}
.register-form__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  color: #4e2f2d;
}
.register-form__subtitle {
  font-size: 16px;
  line-height: 22px;
  color: #4e2f2d;
  padding-top: 28px;
}

/* ========== planning =========== */
.planning {
  margin-top: 115px;
}
.planning .container .planning-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #4e2f2d;
}
.planning .container .planning-buttons {
  margin-top: 40px;
}
.planning .container .planning-buttons ul {
  display: ms-flexbox;
  display: flex;
}
.planning .container .planning-buttons__item {
  padding: 12px 36px;
  color: #ba946f;
  border: 2px solid #ba946f;
  margin-right: 16px;
  transition: 0.5s ease;
}
.planning .container .planning-buttons__item:last-child {
  margin-right: 0;
}
.planning .container .planning-buttons__item:hover {
  background-color: #ba946f;
  color: #ffffff;
}
.planning .container .planning-buttons .active {
  background-color: #ba946f;
  color: #ffffff;
}
.planning .container .planning-scheme {
  margin-top: 56px;
}
/* ========== interior =========== */
.interior .container {
  margin-top: 115px;
  position: relative;
}
.interior .container .interior-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #4e2f2d;
}
.interior .container .interior-slider::before {
  content: url("../img/interior/left.svg");
  position: absolute;
  top: 55%;
  left: -57px;
  background-color: #f4e9db;
  padding: 16px 20px;
}
.interior .container .interior-slider {
  margin-top: 56px;
}
.interior .container .interior-slider .interior-slider__item {
  margin: 0 auto;
  text-align: center;
}
.interior .container .interior-slider::after {
  content: url("../img/interior/right.svg");
  position: absolute;
  top: 55%;
  right: -57px;
  background-color: #f4e9db;
  padding: 16px 20px;
}

/* ========= about ========= */
.about {
  margin-top: 80px;
  background-color: #f4e9db;
  padding: 115px 0 80px;
}
.about .container .about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #4e2f2d;
}
.about .container .about-subtitle {
  margin-top: 56px;
  display: ms-flexbox;
  display: flex;
  justify-content: space-between;
}
.about .container .about-subtitle__column {
  flex-basis: 50%;
  font-size: 16px;
  line-height: 24px;
  color: #4e2f2d;
}
.about .container .about-subtitle__column.col-left {
  padding-right: 15px;
}
.about .container .about-subtitle__column.col-right {
  padding-left: 15px;
}
.about .container .about-button {
  color: #f4e9db;
}

/* ========= progres ======== */
.progres {
  margin-top: 110px;
}
.progres .container .progres-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  color: #4e2f2d;
}
.progres .container .progres-content {
  display: ms-flexbox;
  display: flex;
  margin-top: 56px;
}
.progres .container .progres-content__video {
  margin-right: 20px;
}
.progres .container .progres-content__about {
  display: ms-flexbox;
  display: flex;
  flex-direction: column;
  border: 2px solid #BA946F;
  height: 450px;
  padding: 15px 0px 0px 20px;
}
.progres .container .progres-content__about-item {
  flex-basis: 25%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ba946f;
}
.progres .container .progres-content__about-item .about-item__icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  border: 4px solid #ba946f;
  border-radius: 50%;
  padding: 18px 12px;
  font-weight: 700;
  text-align: center;
  margin-right: 20px;
}
.progres .container .progres-content__about-item .about-item__text {
  color: #4E2F2D;
  padding-right: 42px;
}
.progres .container .progres-slider {
  margin-top: 56px;
}
.progres .container .progres-slider img + img {
  padding-left: 30px;
}

.map {
  margin-top: 80px;
}

.feedback {
  margin-top: 80px;
}

footer {
  margin-top: 80px;
}

/* </GENERAL BLOCK> */